body{
  width: 100%;
  height: 100vh;
}

/*#rooms_container{
  height: 400px;
  overflow-y: auto;
}*/
#left{
  padding-top: 15px;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.5);
  border-style: outset;
}

#content{
  padding-top: 15px;
  
  background-color: rgba(230, 231, 230, 0.5);
  height: 100vh;
}

